.main {
  width: 1024px;
}

.pagination {
  margin-right: 25px;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100%;

  &__item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &_active {
      background-color: #f78b1f;
    }
  }
}

.section {
  width: 100%;
  height: 100vh;
}

.down {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90px;
  justify-content: space-evenly;

  &-text {
    color: white;
    font-size: 15px;
  }

  &-pic {
    & img {
      width: 45px;
      height: 22px;
    }
  }
}
